@charset "ISO-8859-1";
.lien{
	border: purple 2px solid;
	width: fit-content;
	background: red;
	margin: 0px -3px 0px -3px;
	font-size: 24px;
	color: green;
	
	
}
.menu{

	align-items: center;
	align-content: center;

	text-align: center;
}